@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* assistant-regular - latin */
  @font-face {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 400;
    src: local(""),
      url("../public/fonts/assistant-v18-latin-regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../public/fonts/assistant-v18-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* assistant-700 - latin */
  @font-face {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 700;
    src: local(""),
      url("../public/fonts/assistant-v18-latin-700.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../public/fonts/assistant-v18-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* assistant-600 - latin */
  @font-face {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 600;
    src: local(""),
      url("../public/fonts/assistant-v18-latin-600.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../public/fonts/assistant-v18-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* assistant-800 - latin */
  @font-face {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 800;
    src: local(""),
      url("../public/fonts/assistant-v18-latin-800.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../public/fonts/assistant-v18-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* Apply custom font to all the Html */
  html {
    @apply bg-main-bg text-text-primary dark:bg-main-bg-d dark:text-text-primary-d;
  }
  a {
    @apply underline underline-offset-4;
  }
  a:hover {
    @apply no-underline;
  }
}

@layer components {
  a.link {
    @apply underline underline-offset-4 decoration-2;
  }
  a.link:hover {
    @apply decoration-dotted;
  }
  .display-large {
    @apply text-fontSize-6 font-extrabold leading-0;
  }
  .display-small {
    @apply text-fontSize-5 font-extrabold leading-1;
  }
  .display-xsmall {
    @apply text-fontSize-4 font-extrabold leading-2;
  }
  .h1-large {
    @apply text-fontSize-5 font-bold leading-1;
  }
  .h1-small {
    @apply text-fontSize-4 font-bold leading-2;
  }
  .h2-large {
    @apply text-fontSize-4 font-bold leading-2;
  }
  .h2-small {
    @apply text-fontSize-3 font-bold leading-3;
  }
  .h3-large {
    @apply text-fontSize-3 font-bold leading-3;
  }
  .h3-small {
    @apply text-fontSize-2 font-bold leading-4;
  }
  .h4-large {
    @apply text-fontSize-2 font-bold leading-4;
  }
  .h4-small {
    @apply text-fontSize-1 font-bold leading-4;
  }
  .intro {
    @apply text-fontSize-3 font-semibold leading-3;
  }
  .intro-small {
    @apply text-fontSize-2 font-semibold leading-4;
  }
  .brand {
    @apply text-fontSize-2 font-extrabold leading-3;
  }
  .paragraph {
    @apply text-fontSize-2 font-regular leading-3;
  }
  .body-default {
    @apply text-fontSize-1 font-regular leading-4;
  }
  .type-small {
    @apply text-fontSize-0 font-regular leading-4;
  }
  .link-block {
    @apply text-fontSize-1 font-regular leading-3 decoration-1 underline-offset-8 hover:decoration-text-primary hover:decoration-dotted;
  }
}

#__next {
  @apply xxl:container mx-auto xs:pl-4 xs:pr-4 xs:pt-8 md:pr-16 md:pl-16;
}
