@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* assistant-regular - latin */
  @font-face {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 400;
    src: local(""),
      url("../public/fonts/assistant-v18-latin-regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../public/fonts/assistant-v18-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* assistant-700 - latin */
  @font-face {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 700;
    src: local(""),
      url("../public/fonts/assistant-v18-latin-700.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../public/fonts/assistant-v18-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* assistant-600 - latin */
  @font-face {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 600;
    src: local(""),
      url("../public/fonts/assistant-v18-latin-600.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../public/fonts/assistant-v18-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* assistant-800 - latin */
  @font-face {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 800;
    src: local(""),
      url("../public/fonts/assistant-v18-latin-800.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../public/fonts/assistant-v18-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* Apply custom font to all the Html */
  html {
    @apply bg-main-bg text-text-primary dark:bg-main-bg-d dark:text-text-primary-d;
  }
  a {
    @apply underline underline-offset-4;
  }
  a:hover {
    @apply no-underline;
  }
}

@layer components {
  a.link {
    @apply underline underline-offset-4 decoration-2;
  }
  a.link:hover {
    @apply decoration-dotted;
  }
  .display-large {
    @apply text-text-4xl font-extrabold;
  }
}
